.spacer {
  flex: 1 1 auto;
}

mat-toolbar {
  position: fixed;
  top: -20px; /* Move the toolbar up by 20px */
  width: 100%;
  z-index: 1000;
}

router-outlet + * {
  padding-top: 44px; /* Adjust this value to match the new top offset */
}
