<div class="container">
  <h2>Liste des Projets</h2>
  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nom</th>
        <th>Description</th>
        <th>Date de Début</th>
        <th>Date de Fin</th>
        <th>Budget</th>
        <th>Actions</th> <!-- Nouvelle colonne pour les actions -->
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let projet of projets">
        <td>{{ projet.id }}</td>
        <td>{{ projet.nom }}</td>
        <td>{{ projet.description }}</td>
        <td>{{ projet.dateDebut | date }}</td>
        <td>{{ projet.dateFin | date }}</td>
        <td>{{ projet.budget | currency }}</td>
        <td>
          <!-- Vérifiez que `projet.id` est défini avant d'appeler `deleteProjet` -->
          <button *ngIf="projet.id !== undefined" (click)="deleteProjet(projet.id)" class="btn btn-danger">Supprimer</button>
        </td>
      </tr>
    </tbody>
  </table>
  <div *ngIf="errorMessage" class="alert alert-danger">
    {{ errorMessage }}
  </div>
</div>
